div.book div.titlepage h1.title {
  font-family: arial, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

div.book div.titlepage h2.subtitle {
  font-family: arial, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
} 

div.chapter div.titlepage h2.title {
  font-family: arial, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
}

div.sect1 div.titlepage h2.title {
  font-family: arial, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}


div.navheader img, div.navfooter img {
  border: none;
}

div.sect1 {
  font-family: arial, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  text-align: left;
}

tt {
  font-family: courier, monospace;
}

pre.screen {
  background-color: #DDDDDD;
  color: black;
}

div.warning, div.note, div.important, div.caution {
  border: 1px solid black;
}

div.warning h3.title {
  text-align: center;
}

div.warning p, div.note, div.important, div.caution {
  padding-left: 0.2in;
}
