# The files, directories, and symlinks in /sys do not all appear at once. They
# appear as the kernel identifies and enumerates them. However, the uevent for
# any given device might sometimes be generated before this is finished. To
# avoid race conditions, this rule matches those devices (which have an ACTION
# of add, DEVPATH of /devices/*, and a non-empty environment variable named
# PHYSDEVBUS) and causes Udev to wait until the kernel has created the needed
# "bus" file (in this case it will be a symlink) for that particular device
# before it attempts to match any other rule. This gives the kernel time to
# enumerate the various devices and export them via sysfs.

ACTION=="add", DEVPATH=="/devices/*", ENV{PHYSDEVBUS}=="?*", WAIT_FOR_SYSFS="bus"

# Very similar to the previous rule, any uevent for devices handled by the
# kernel's SCSI subsystem where the ACTION to take is "add" the device, Udev
# will wait for the existence of the file /sys/bus/scsi/devices/<device
# number>/ioerr_cnt (ioerr_cnt is known to be the last sysfs attribute created
# for SCSI devices).

ACTION=="add", SUBSYSTEM=="scsi", WAIT_FOR_SYSFS="ioerr_cnt"
