# /etc/udev/rules.d/81-cdrom.rules: Generate rules for newly-added CD drives.

ACTION=="add", ENV{ID_TYPE}=="cd", IMPORT{program}="cdrom_id --export $tempnode", GROUP="cdrom"
